@import "~bulma/sass/utilities/_all.sass"

$primary: #ef0f32
$primary-invert: findColorInvert($primary)

$small-gap: $gap / 8

$menu-item-active-background-color: $green
$tag-element-gap: $small-gap
$content-padding: 1.25rem // box-padding from bulma

$container-gap-horizontal: 12px

$box-shadow: 1px 12px 18px rgba(76, 76, 76, 0.1)
